/************GENERAL*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

body {
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: rgb(0,151,136); */
    background: linear-gradient(180deg, rgba(0,151,136,1) 15%, rgba(219,219,211,1) 15%);
    overflow-y: hidden;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

/************ASIDE*****************/
aside {
    width: 33.3333%;
    height: 100%;
}

.avatar-utente {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
}

.avatar-w {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-w img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu i {
    font-size: 20px;
    color: grey;
    margin-right: 15px;
}

.notifiche {
    width: 100%;
    height: 70px;
    background-color: #8edafc;
}

.ricerca {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
}

.contatti {
    width: 100%;
    height: calc(100% - 180px);
    background-color: lightcoral;
    overflow-y: scroll;
}

/************MAIN*****************/
main  {
    width: 66.6667%;
    height: 100%;
}

.avatar-conv {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
}

.conversazione {
    width: 100%;
    height: calc(100% - 140px);
    background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
    filter: contrast(70%);
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
    overflow-y: scroll;
}

.input-mex {
    width: 100%;
    height: 70px;
    background-color: #f3eeea;
}
